
.bg-layer { 
    height:100%;
    width:100%;
	position:fixed;
	overflow:hidden;
	margin-top:0px;
	}

.category-pictures .grid-tit{
	display:none;
	}

.box-dropshadow{
	box-shadow: 5px 5px 5px #BBBBBB;
	background: #fff;
	}

.content-item {
	float: left;
	margin: 0 0 10px 0;
	width: 100%;
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	
}
.content-column {
	padding:0;
	}
.content-text{
	margin:20px 0 0 0;
	font-size:16px;
	}
.content-spacer{margin-top:50px;}
.post{padding:35px 35px 35px 35px;}
.category-news .meta{display:block; text-align:center;}

.content-text img{width:100%; height:100%;}

.category-pictures .item{
	background:none;
	}

body{
	background-color:#efe3d5;}

.main-menu{
	float: right !important;
	}

.main-menu button, .main-menu button:hover, .main-menu button:active {
	width:120px;
	height: 39px;
	margin-right:0px;
	margin-top:0px;
	font-size:24px;
	color:#000;
	background-color:none;
	}
	
.main-menu li{
	width:100%;
	}

#menu-main{
	width:165px;	
	}

.navbar-header{
	width:100%;
	}

.navbar-header h1 a:hover{
	color:#1000FF;
	}